<form action="/add" method="POST">
    <div class="mb-3">
        <label class="form-label">Tytuł:</label>
        <input type="text" class="form-control" name="title" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Autor:</label>
        <input type="text" class="form-control" name="author" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Rok wydania:</label>
        <input type="number" class="form-control" name="year" required>
    </div>

    <button type="submit" class="btn btn-success">Dodaj książkę</button>
</form>

<a href="/" class="btn btn-secondary mt-3">Powrót</a>
